{
    "$schema": "https://raw.githubusercontent.com/F5Networks/f5-appsvcs-extension/master/schema/latest/as3-schema.json",
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.5.0",
        "id": "{{virtual_name}}",
        "label": "{{virtual_name}}",
        "remark": "{{description}}",
        "{{virtual_name}}": {
            "class": "Tenant",
            "A1": {
                "class": "Application",
                "{{virtual_name}}": {
                    "class": "Service_HTTPS",
                    "virtualAddresses": [
                        "{{virtual_ip}}"
                    ],
                    
                    "remark": "{{description}}",
                    "pool": "{{pool_name}}",
                    "snat": "auto",
                    "virtualPort": 443,
                    "serverTLS": "demo_SSL"
                    
                },
                
                "{{pool_name}}": {
                    "class": "Pool",
                    "remark": "{{description}}",
                    "monitors": [
                        {
                            "use": "{{monitor_name}}"
                        }
                    ],
                    "members": [
                        {
                            "servicePort": 80,
                            "serverAddresses": {{members | tojson(4)}}
                        }
                    ]
                },
                "{{monitor_name}}": {
                    "class": "Monitor",
                    "remark": "{{description}}",
                    "monitorType": "https",
                    "send": "{{send_string}}",
                    "receive": "{{receive_string}}"
                },
                "demo_SSL": {
                    "class": "TLS_Server",
                    "certificates": [
                        {
                            "certificate": "demo_cert"
                        }

                    ]
                },
                "demo_cert": {
                    "class": "Certificate",
                    "certificate": {"bigip":"/Common/demo-cert"},
                    "privateKey": {"bigip":"/Common/demo-cert"}
                }
                
            }
        }
    }
}